.gitconfig
*.exe
*.ilk
*.pdb
*.log
*.tlog
*.obj
*.idb
*.lastbuildstate
*.unsuccessfulbuildstate
*.manifest
*.opt
*.dsp
*.dsw
*.ncb
*.plg
*.pch
*.gif
*.png
*.css
*.js
*.html
*.jpeg
*.JPG
*.db
*.doc
*.docx
*.pdf
*.php
*.opensdf
*.vcxproj
*.filters
*.user
